*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(img1.jpg) no-repeat center center/ cover;
}
.container{
    text-align: center;
    width: 550px;
    height: 450px;
}
.header{
    font-size: 1.2rem;
    color: white;
    border: 2px solid white;
    background-color: #262626;
    border-radius: 5px;
}
.content{
    border-radius: 5px;
    margin-top: 5px;
    background-color: white;
}
.quote{
    font-size: 1.5rem;
    padding: 20px 15px;
}
.author{
    color: rgb(255, 44, 44);
    font-size: 1.2rem;
    padding-bottom: 15px;
}
button{
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    background-color: #262626;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}